

.row.spaced {
  height: 230px;
}

.row.very-little-spaced {
  height: 50px;
}

.row {
  height: 120px;
}

.push-up {
  margin-bottom: 50px;
}

.circle {
  height: 100px;
  width: auto;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  margin-left: 10px;
}

.paragraph {
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  font-weight: bold;
}

.sub-paragraph {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.player-name {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

#player1-name {
  margin-right: 30px
}

#name1-holder {
}

/* Cards */

.card-slot {
  height: 60px;
  width: 30px;
  border-radius: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 0px 10px;
}

.revealed-card {
  background-color: white;
}

.hidden-card {
  background-color: grey;
}

/* Chips */

.chip {
  height: 70px;
  width: auto;
}
